#!/usr/bin/env bash
#
# -*- mode: bash -*-
#
# Provides environment for local development.  You normally
# don't execute this or source it directly; use direnv to set this up
#
# Environment variables exported by this script
#
# PATH                  Allows ./bin to be added to path
# BUILD_FIRST           Whether to build before running
# LOCAL           	    Provides a hint that the goal is local development
# ENG_ENABLED_RUNTIMES  Names of the enabled runtimes
#


project_dir=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)

export PATH="$project_dir/bin:$PATH"
export BUILD_FIRST=1
export LOCAL=1

ENG_ENABLED_RUNTIMES=$(make -f Makefile eng/enabled)
export ENG_ENABLED_RUNTIMES

unset PS1
