
  {{ define "title" }}
  {{ end }}

  {{ define "sidebar" }}
      <nav>
        <ul>
          <li><a href="#" aria-current="page">Home</a></li>
          <li>
            <details open>
              <summary>
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1">
                  <rect x="3" y="3" width="7" height="7"></rect>
                  <rect x="14" y="3" width="7" height="7"></rect>
                  <rect x="14" y="14" width="7" height="7"></rect>
                  <rect x="3" y="14" width="7" height="7"></rect>
                </svg>
                Services
              </summary>
              <ul>
            {{ range .Services }}
              <li> <a href="{{ URL . }}"> {{ or .Title .Name }} </a> </li>
            {{ end }}
              </ul>
            </details>
          </li>
        </ul>
      </nav>
      <footer>
        Pastiche
        <button class="outline" class="sm" style="width: 100%;" onclick="toggleTheme()">Toggle Theme</button>
      </footer>
  {{ end }}

  {{ define "main" }}
      <div style="display: grid; grid-template-columns: repeat(2,1fr); gap: var(--space-8)">
      {{ range .Services }}
          {{ Include "_components/service/feature.html" . }}
      {{ end }}
      </div>
  {{ end }}

{{ template "_layout/main.html" .}}