  {{ define "title" }}
    Service
  {{ end }}

  {{ define "sidebar" }}
      <nav>
        <ul>
          <li><a href="/" >Home</a></li>
        </ul>
      </nav>
      <footer>
        Pastiche
        <button class="outline" class="sm" style="width: 100%;" onclick="toggleTheme()">Toggle Theme</button>
      </footer>
  {{ end }}

  {{ define "main" }}
  <div>
    <small>Service</small>
    <h1>{{ or .Title .Name }}</h1>

    <div class="hstack">
      {{ Include "_components/service/servers.html" . }}
    </div>

    <div>
      <h2>Vars</h2>
      {{ Include "_components/resource/vars.html" . }}

      {{ Include "_components/resource/view.html" .Resource }}
    </div>

  </div>
  {{ end }}

{{ template "_layout/main.html" .}}