name: CI
on: [push]
jobs:
  build:
    name: Build & Test

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        go-version: ["1.20"]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - run: go test -coverprofile=coverage.txt -covermode=atomic ./...
        if: matrix.os == 'ubuntu-latest'
      - run: go test ./...
        if: matrix.os == 'windows-latest'
